{% extends 'customer/home.html' %}
{% load static %}
{% block content %}
<br><br><br>
<div class="container-fluid" style="background-color: plum; text-align: center;"><div class="row" ><div class="col-12"><h2>CART</h2></div></div></div>

{% for item in cart_items %}

<div class="container-fluid" style="background-color:  rgb(222, 195, 222) ; text-align: center;">
    <div class="row"><div class="col-4"></div>
    <div class="col-4">
    <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ item.product.image.url }}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{item.product.product_name}}</h5>
          <p class="card-text"> Price=Rs. {{item.product.price}}</p>
          <p class="card-text">  Quantity= {{item.quantity}}</p>

          <form action="{% url 'customer:remove_from_cart' item.product.id %}" method="post">
            {% csrf_token %}
            
            <button type="submit" class="btn btn-dark">DELETE</button>
          </form>
        </div>
      </div>
    </div>
  </div></div>
<div class="col-4"></div></div>
</div>
{% endfor %}
<div class="container-fluid" style="text-align: end;" ><div class="row" ><div class="col-12"><h4>TOTAL SUM=Rs.{{grand_total}}</h4><a  class="btn btn-dark" href="{% url 'customer:checkout' %}">CHECK OUT</a><br><br></div></div></div>
{% endblock %}